@charset "utf-8";

body {
	margin:auto;
	padding:0;
	width:100%;
        background: skyblue;
        background-position: top;
        background-image: url(../images/green.jpg);
	font-size: 13px;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;

}
html {
	padding:0;
	margin:0;
}
form li{
    list-style: none;
}
p.clr, .clr {
	clear:both;
	padding:0;
	margin:0;
}

.main {
	margin:0 auto;
	padding:0;
}

.header {
	margin:0;
	padding:0;
}
.header_resize {
	margin:0 auto;
	padding:0;
	width:968px;
}
.logo {
	width:550px;
	margin:0 auto;
	padding:15px 0 0 0;
	float:left;
}
h1 {
        text-align: center;
	margin:0;
	padding:10px  80px 0;
        color:#333300;
	font:normal 40px/1.2em Arial, Helvetica, sans-serif;
}

h1 a, h1  {
	color:#333300;
	text-decoration:none;
}
h1 span {
	color:#333300;
}
h1 small {
	font:normal 13px/1.2em Arial, Helvetica, sans-serif;
	color:#333300;
}

.menu {
	padding:0;
	margin:70px 0 0 0;
	width:410px;
	float:right;
        background:  #a2cf58;
        border: 2px solid;
        border-color: #a2cf58;
}
.menu ul {
	padding:0;
	margin:0;
	list-style:none;
	border:0;
	float:left;
}
.menu ul li {
	float:left;
	margin:0;
	padding:0 8px 0 0;
}
.menu ul li a {
	float:left;
        text-transform: uppercase;
	margin:0;
	padding:10px 16px;
        color: #fff;
	font:normal bold 12px Arial, Helvetica, sans-serif;
	text-decoration:none;
}
.menu ul li a:hover {
        color:#333300;  
        text-transform: uppercase;
}



.body_resize {
	margin:0 auto;
	padding:0;
	width:969px;
}
.body {
	margin:0;
	padding:0;
}
.body h2 {
	font:bold 24px Arial, Helvetica, sans-serif;
	color:#a2cf58;
	padding:3px 0 3px 5px;
	margin:5px 0 10px 0;
}
.body h2 span {
	color:#323a3f;
}
.body p {
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#696969;
	padding:5px;
	margin:0;
	line-height:1.8em;
}
.body img {
	float:left;
	margin:5px;
	padding:0;
}
.body a {
	color:#ea5d00;
	text-decoration:underline;
}
.left {
	float:left;
	width:670px;
	margin:0;
	padding:0;
}
.resize_bg {
	border: 2px solid ;
        border-color: #a2cf58;
        margin:10px 0;
	padding: 10px;
        background:#fff;
       
}
.fc-header-title h2{
    color: #333300;
}
.fc-event-title{
    
    font-weight: bolder;
    font-style: italic;
    color: #fff;
}
#updatebox{
    
    border-top-color: skyblue; 
    height: auto;
    -moz-box-shadow: 5px 5px 10px skyblue;
    -webkit-box-shadow: 5px 5px 10px skyblue;
}
#updatetitle{
    margin:10px;
    width:300px;
}
#description{
    
    margin:10px;
    width: 300px;
}



#calendar {
    width: 650px;
    margin: 0;
}

.right
{
    padding-top: 10px;
    float:right;
    width:275px;
    margin:0;
}
button
{
    margin: 0 0 20px 65px;
    font-weight: bold;
    padding:6px 10px 7px 7px;
    cursor: pointer;
    color: #fff;
    background: #a2cf58;
    
}
button:hover{
    color: #005702;
}

.right ul.sponsors {
	list-style:none;
	margin:5px 10px;
	padding:0;
}
.right li.sponsors {
	font:normal 11px Arial, Helvetica, sans-serif;
	color:#585858;
	padding:14px 10px;
}
.right li.sponsors a {
	padding:0 0 0 0px;
	margin:0;
	font:bold 14px Arial, Helvetica, sans-serif;
	color:#696969;
	text-decoration:none;
}
.right li.sponsors span {
	color:#ea5d00;
	font:bold 12px Georgia, "Times New Roman", Times, serif;
}
.resize_box{
    margin:10px 0;
    padding: 10px; 

}




.footer_resize {
	margin:0 auto;
	padding:0;
        height: 30px;
	width:100%;
	color:#fcfdfe;
        background-color: #696969;
	font:normal 12px Arial, Helvetica, sans-serif;
	border-top:1px solid;
}
.footer {
	padding:0;
	margin:0 auto;
}
.footer p {
	margin:0;
	padding: 5px;
	line-height:normal;
	color:#000;
}
.footer a {
	color:#000;
	padding:inherit;
	text-decoration:underline;
}
.footer a:hover {
	
        color: #fff;
}
.footer .lf {
         font-style: italic;	
        float:left;
        margin-left: 20px
        
}
.footer .rf {
        font-style: italic;
	float:right;
        padding-right: 20px;
}



	

.errorMessage {
	color: #D8000C;
	background-color: #ffbaba;
	background-image: url('../images/error.gif');

}


.errorMessage,.successMessage {
	border: 1px solid;
        width: 160px;
	margin: 15px 10px 0 0px;
	padding:10px 10px 10px 60px;
	background-repeat: no-repeat;
}

input[type="text"]
{
    width: 230px;
    height: 30px;
    padding: .2em
}
#bo{
  border: 2px solid ;
  border-color: #a2cf58;
  background-color: #ffffff;
}  

#BTN{
    padding-left: 20px;
}
textarea
{
    width: 230px;
}
#desc
{
    height: 7em;
}
label{
    font-weight: bold;
  padding-top: 15px;
  display:block;
}
.D{
    font-weight: bold;
}
.ui-datepicker
    {
        z-index: 1003; /* must be > than popup editor (1002) */
    }
#msgDialog p
{
    text-align: center;
}

.loading {
    background: #FFC129;
    color: black;
    font-weight: bold;
    padding: 3px;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.loading.top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
}

#calendar .fc-event-inner{
    cursor: pointer;
    background: #ffb73d;
}
#calendar span{
    color: #333300;
}
#ajax p{
    margin: 0 auto 0;
    background-color: #060616;
    color: #fff;
}

#ajax h1{
   
    width: 390px;
    height: 100px;
    margin: 0 auto 0;
   background-image: url(../images/tal.jpg); 
}
#ajax #container{
    
    background-color: #060616;
}
.flip{
border: 2px solid;
height: 20px;
background-color: #a2cf58;
border-color: #a2cf58;
text-align: center;
font-size: 16px;
font-weight: bold;
color: #ffffff;
cursor: pointer;
padding: 5px;
}



.panel{
    border: 2px solid;
    border-color: #a2cf58;
}
